body{
background-color: #F0C076;
}
#Hellow{
  font-weight: bold;
  font-size: 70px;
  margin-top: 25px;
  padding-left: 2em;
}
#logo{
  font-weight: bold;
  font-size: 70px;
  margin-top: 25px;
  padding-left: 1em;
  display:grid;
  grid-template-columns: 40% 60%
}

.cards {
    margin: 0 auto;
    max-width: 1000px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(225px, 1fr));
    grid-auto-rows: auto;
    gap: 20px;
    font-family: sans-serif;
    padding-top: 30px;
}
