{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activity</title>
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.rawgit.com/twbs/bootstrap/v4-dev/dist/css/bootstrap.css">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'style.css' %}">
    <link href="https://fonts.googleapis.com/css?family=Roboto:700&display=swap"rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700&display=swap" rel="stylesheet">


</head>

<script>
    function startTime() {
      var today = new Date();
      var h = today.getHours();
      var m = today.getMinutes();
      var s = today.getSeconds();
      m = checkTime(m);
      s = checkTime(s);
      document.getElementById('txt').innerHTML =
      h + ":" + m + ":" + s;
      var t = setTimeout(startTime, 500);
    }
    function checkTime(i) {
      if (i < 10) {i = "0" + i};  // add zero in front of numbers < 10
      return i;
    }
    </script>
</head>
<body onload="startTime()">

<div id="txt"></div>
<div id = "logo">
    <img src="{% static 'logo copy.png' %} " width="40px" height="50px" >
    <h1 style="align: center; color: white;"><i>MY ACTIVITY--</i></h1>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <form action='' method="POST">
                {% csrf_token %}
                {{ form }}
                <br>
                <div class="centre-items">
                    <input type="submit" class="btn btn-primary" value="Add Schedule" style="background-color: black; border-color: black;">
                </div>
            </form>
        </div>

        <div class="col" id="tulisan" style="color:white;">
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Activity</th>
                    <th scope="col">Date</th>
                    <th scope="col">Place</th>
                    <th scope="col">Description</th>
                </tr>
                </thead>
                <br>
                <tbody>
                {% for x in activities %}

                    <tr>
                        <th scope="row">{{x.name}}</th>
                        <th scope="row">{{x.time}}</th>
                        <th scope="row">{{x.place}}</th>
                        <th scope="row">{{x.description}}</th>
                        <th><a href="{% url 'join_me'  pk=x.pk %}" class="button">Join Me</a></th>
                    </tr>


                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<br>

</body>
</html>